{% extends 'base.html' %}

<head>
  <title>Create Task</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  {% block content %}
  <div class="content">
    <h1>Create New Task</h1>
    <form method="POST" action="/add_task">
      <div class="form-container">
        <div class="form-column">
          <div class="form-field">
            <label for="task_id">Task ID:</label>
            <input type="text" name="task_id" id="task_id" required>
          </div>
          <div class="form-field">
            <label for="schedule">Cron Schedule:</label>
            <input type="text" name="schedule" id="schedule" required>
          </div>
          <div class="form-field">
            <label for="filename">Filename Pattern:</label>
            <input type="text" name="filename" id="filename" required>
          </div>
        </div>
        <div class="form-column">
          <div class="form-field">
            <label for="filepath">File Path:</label>
            <input type="text" name="filepath" id="filepath" required>
          </div>

          <div class="form-field">
            <label for="module">Module:</label>
            <input type="text" id="module" name="module">
          </div>

          <div class="form-field">
            <label for="server_key">Server Key:</label>
            <select name="server_key" id="server_key" required>
              <option value="">Select Server</option>
              {% for key in server_keys %}
                <option value="{{ key }}">{{ key }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-field">
            <label for="retries">Retries:</label>
            <input type="number" name="retries" id="retries" value="3" min="0">
          </div>
        </div>
        <div class="form-column">
          <div class="form-field">
            <label for="retry_delay">Retry Delay (seconds):</label>
            <input type="number" name="retry_delay" id="retry_delay" value="60" min="0">
          </div>
          <div class="form-field">
            <label for="timeout">Timeout (seconds):</label>
            <input type="number" name="timeout" id="timeout" min="0">
          </div>
          <div class="form-field">
            <label for="dependent_server_keys">Dependency Server Key:</label>
            <select name="dependent_server_keys" id="dependent_server_keys" required>
              <option value="">Select Server</option>
              {% for key in dependent_server_keys %}
                <option value="{{ key }}">{{ key }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-field">
            <label for="command">Command:</label>
            <input type="text" name="command" id="command">
          </div>
        </div>
      </div>
      <input type="submit" value="Create Task">
    </form>
  </div>

  <script>
    fetch('/server_keys')
      .then(response => response.json())
      .then(serverKeys => {
        const serverKeySelect = document.getElementById('server_key');

        serverKeys.forEach(key => {
          const option1 = document.createElement('option');
          option1.value = key;
          option1.text = key;
          serverKeySelect.add(option1);
        });
      });

    fetch('/server_keys')
      .then(response => response.json())
      .then(serverKeys => {
        const serverKeySelect = document.getElementById('dependent_server_keys');

        serverKeys.forEach(key => {
          const option1 = document.createElement('option');
          option1.value = key;
          option1.text = key;
          serverKeySelect.add(option1);
        });
      });
  </script>
  {% endblock %}
</body>
</html>